.card{

    border-style: solid;
    padding: 20px 20px;
    list-style: none;
    
}

.blog{
    border-style: solid;
    padding: 20px 20px;
    width: 400px;
    margin: 20px 20px;
    display:inline-block;
    
}